*{  color: black;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    
        background-image: linear-gradient(rgb(143, 137, 137), black);
      
}

#spotl{
    position: relative;
    height:150px ;
    width: 250px;
    top: 65px;
    right: 20px;
}
#main{
    
    border: 2px solid black;
    height: 1050px;
    width: 730px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: rgb(199, 195, 195);
    align-content: center;
    
}
h1{
    margin-left: 200px;
    font-size: 35px;
}
#way{
    margin-top: 40px;
    

}
.ways{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid gray;
    width: 320px;
    height: 45px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: #1B1F22;
    
    
}
#phone{
    color: white;
}
.con{
    position: relative;
    bottom: 5px;
    left: 30px;
    font-weight: 500;
    color: white;
}
#google img {
    height: 50%;
    width: fit-content;
   margin-top: 12px;
   margin-left: 30px;
}

#face img{
    height: 50%;
    width: fit-content;
   margin-top: 12px;
   margin-left: 30px;
   background-color: transparent;
   border-radius: 50%;
}
#apple img{
    height: 50%;
    width: fit-content;
   margin-top: 12px;
   margin-left: 30px;
   
   border-radius: 50%;
}
#phone{
    display: inline-block;
    margin-top: 12px;
    margin-left: 50px;
    font-weight: 500;

}
hr{margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    width: 530px;
    height: 0.1px;
    border: none;
    background-color: black;
    
}
.user{
    background-color: gray;
    border: 2px solid gray;
    background-color:#1B1F22;
    width: 320px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 15px;
    font-size: medium;
    color: white;
    
}
#idp{height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
h5{
    margin-top: 15px;
}
.user::placeholder{
    font-weight: 700;
    font-size: 16px;
}
#check{
    margin-left: 210px;
    margin-top: 20px;
    
    width: fit-content;
}
#submit{
    margin-left: 200px;
    text-align: center;
    
    background-color: rgb(7, 36, 116)  ;
    width: 324px;
    height: 48px;
    margin-top: 40px;
    border-radius: 25px;
    
    text-align: center;
    
}
h4{color: rgba(255, 255, 255, 0.813);
    display: inline-block;
   
}
#forgot{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 35px;
    
    font-weight: 400;
    text-decoration: underline;
}
#create{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 45px;
  
    font-weight: 500;
    color: gray;
}
#forgot p:hover{
    color: rgb(7, 36, 116);
    text-decoration:underline rgb(7, 36, 116);
    cursor: pointer;
}
span a:hover{
    color: rgb(13, 25, 134);
    text-decoration:underline rgb(7, 36, 116);
    
}
#submit:hover{transform: scale(1.05);
transition: 100ms;
cursor: pointer;}
.ways:hover{
    cursor: pointer;
    border-color: black ;
    transform: scale(1.05);
}
